@import '../../utils/variables';

.hero {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/hero.jpg");

  /* Set a specific height */
  height: 20em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    color: white;
    flex: 1;
    max-width: 30em;
    padding: 1em;
    text-align: center;

    > h1 {
      color: white;
      font-size: 2.5em;
    }
  }
}

.homepage {
  &__cards {
    display: flex;
    flex-direction: column;
    padding: 1em;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }
}

.ant-card {
  flex: 1;
  margin-bottom: 1em;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 1em;

    &-cover {
      overflow: hidden;
    }
  }

  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet--landscape) {
    &-cover {
      max-height: 9em;
    }
  }

  @media (min-width: $breakpoint-tablet--landscape) {
    &-cover {
      max-height: 12em;
    }
  }


  @media (max-width: $breakpoint-tablet) {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}